/* @media (max-width: 799px) {
    #myDiv{
        font-family: 'Courier New', Courier, monospace;        
        font-size: 20px;
        font-weight: bold;
        color: pink;
        font-family: Arial;
    }
  }

@media (max-width:479px) {
    #myDiv {
        font-size: 15px;
        font-weight: bold;
        color: blue;
        font-family: Arial;
    }
} */